<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/stylesnav.css">
  </head>
  <body>
    <div class="navigation">
      <nav>
        <ul class="nav-type nav_ul">
          <li class="nav-li home" ><a href="#"  class="active" >Home</a>
              <ul class="dropdown home-menu">
                  <li><a href="#">Sub-Option 1</a></li>
                  <li><a href="#">Sub-Option 2</a></li>
                </ul>
          </li>
          <li class="nav-li"><a href="#"  class="active1" style="color:red;">About</a></li>
          <li class="nav-li" ><a href="#"  class="active2">Contact</a></li>
          <li class="nav-li"><a href="#"  class="active3">Support</a></li>
          <div class="line"></div>
          <li class="nav-li"><a><i class="fa fa-search" onclick="show()">
            </i></a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>
            <p></p>
          </div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
      <div class="text-box-container">
        <textarea id="eventInput" placeholder="Enter your event"></textarea>
        <button id="addEventButton">Add Event</button>
      </div>
    </div>

    <script src="/static/script.js"></script>



  </body>
</html>
